<template>
  <div class="form">
    Form 1
  </div>
</template>

<script lang="ts">
import {
  createComponent,
} from '@vue/composition-api';
import { Task } from '../task';

export default createComponent({
  setup(props, context) {

  },
});

</script>

<style scoped>
.task-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
  border-bottom: 1px solid #cccccc;
}

.task-item input {
  margin-left: 1em;
}
</style>
