<template>
  <div id="app">
    Interview Joban
    <form-component />

  </div>
</template>

<script lang="ts">
import Vue from 'vue';
import FormComponent from './components/FormComponent.vue';

Vue.component('form-component', FormComponent);

export default Vue.extend({
  name: 'app',
  components: {},
});
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
